/* 
    custom styles to override/supplement skeleton.css
*/

div#header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

div#footer {
    border-top: 1px solid #e0e0e0;
    margin-top: 2rem;
    padding-top: 2rem;
}

#page {
    padding: 3rem;
}

td form {
    margin: 0;
}

td input[type=submit] {
    vertical-align: middle;
    margin: 0;
}

ul {
    list-style: none;
}

label {
    display: inline-block;
    margin-right: 1rem;
}

.tooltip {
    display: none;
    margin-left: 2rem;
}

form#add_product_form label, 
form#add_technician_form label, 
form#add_edit_customer_form label, 
form#incident_form label,
form#register_form label,
form#assign_incident_form label,
form#login_form label
{
    display: inline-block;
    min-width: 12rem;
    margin-bottom: 1rem;
}

form#incident_form textarea {
    height: auto;
    width: auto;
}

span.error {
    padding-left: 1rem;
    color: red;
}

h3 a {
    font-size: 0.8em;
}

.outer_table th {
    padding: 12px 18px;
    border: 1px solid white;
    background: #E1E1E1;
}

.outer_table td {
    border: 1px solid #E1E1E1;
    padding: 12px 15px;
    vertical-align: top;
}

.inner_table {
    margin: 0;
}

.inner_table td {
    border: 0;
    padding: 5px;
    vertical-align: top;
}

.inner_table td:first-of-type {
    padding-right: 10px;
}